﻿@model IDictionary<DateTime, List<Kalender>>

@{
    ViewBag.Title = "Kuu";
}

<h2>Kuu</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@Html.ActionLink("Eelmine", $"Kuu/{ViewBag.KalenderId - 30}")
@Html.ActionLink("Järgmine", $"Kuu/{ViewBag.KalenderId + 30}")

<table>
    @for (int i = 0; i < 5; i++)
    {
        <tr>

            @for (int j = 0; j < 7; j++)
            {
                DateTime d = ViewBag.StartRow.AddDays(7 * i + j);
                <td height="100" width="100" valign="top">
                    <table>
                        <tr><td>@d.ToString("ddd - dd.MMM")</td></tr>
                        @if (Model.ContainsKey(ViewBag.StartRow.AddDays(7 * i + j)))
                        {
                            foreach (Kalender k in Model[ViewBag.StartRow.AddDays(7 * i + j)])
                            {
                                <tr><td>@k.Pealkiri</td></tr>
                            }
                        }
                    </table>
                </td>
            }
        </tr>
    }
</table>

<table class="table">
    @foreach (var itemid in Model.Values)
    {
        foreach (var item in itemid)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.KasutajaId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Kuupäev)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pealkiri)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sisu)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    }

</table>
